*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    color: white;
}
body{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.container{
    background-color: rgb(112, 78, 204);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 80%;
    transition: all 1s linear;
}
.container h1{
    font-size: 16px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    justify-content: center;
    align-items: center;
    transition: all 1s linear;
}
.content h1{
    font-size: 16px;
}

#btn{
    padding: 10px 20px;
    background-color: rgb(15, 119, 255);
    border-radius: .5rem;
    border: none;
    font-weight: 600;
    font-size: 16px;
}